head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	title=meta.title
	meta(name='description' content=meta.description)

	meta(name='author' content='Cuzeac Florin')
	meta(name='keywords' content='Express Starter 😇')
	meta(name='robots' content='index')
	meta(name='theme-color' content='#FF6900')

	meta(property='og:title' content=meta.title)
	meta(property='og:description' content=meta.description)
	meta(property='og:image' content='/favicon.ico')
	meta(property='og:type' content='website')
	meta(property='og:url' content='/')

	link(rel='canonical' href='/')
	link(rel='alternate' href='/' hreflang='x-default')
	link(rel='alternate' href='/' hreflang='fr')

	+vendor-styles
