block config
	include ../helpers/config

block mixins
	include ../helpers/mixins

doctype html
html(lang='en')

	include ../components/header/header

	body
		main.page-wrapper
			block navbar

			block content

		block footer

		+vendor-scripts

		block styles

		block scripts
